doctype html

block vars

html(lang='en')

  block head
    include ../general/_head

  block body
    .wrapper
      block header
        include ../general/_header

      block main

      block footer
        include ../general/_footer

      block scripts
        include ../general/_scripts