@import '../utilities/variables';

// Grid system
$j: 1;

@for $i from $j through $num-cols {
  $width: percentage($i / $num-cols);
  
  .xs-#{$i} {
    width: $width;
  }
  
  .xs-offset-#{$i} {
    margin-left: $width;
  }
  
  .xs-pull-#{$i} {
    right: $width;
  }
  
  .xs-push-#{$i} {
    left: $width;
  }
}

.xs-offset-0 {
  margin-left: 0;
}

@media (min-width: $small-screen) {
  $j: 1;
  
  @for $i from $j through $num-cols {
    $width: percentage($i / $num-cols);
    
    .s-#{$i} {
      width: $width;
    }
    
    .s-offset-#{$i} {
      margin-left: $width;
    }
    
    .s-pull-#{$i} {
      right: $width;
    }
    
    .s-push-#{$i} {
      left: $width;
    }
  }
  
  .s-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: $medium-screen) {
  $j: 1;
  
  @for $i from $j through $num-cols {
    $width: percentage($i / $num-cols);
    
    .m-#{$i} {
      width: $width;
    }
    
    .m-offset-#{$i} {
      margin-left: $width;
    }
    
    .m-pull-#{$i} {
      right: $width;
    }
    
    .m-push-#{$i} {
      left: $width;
    }
  }
  
  .m-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: $large-screen) {
  $j: 1;
  
  @for $i from $j through $num-cols {
    $width: percentage($i / $num-cols);
    
    .l-#{$i} {
      width: $width;
    }
    
    .l-offset-#{$i} {
      margin-left: $width;
    }
    
    .l-pull-#{$i} {
      right: $width;
    }
    
    .l-push-#{$i} {
      left: $width;
    }
  }
  
  .l-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: $xlarge-screen) {
  $j: 1;
  
  @for $i from $j through $num-cols {
    $width: percentage($i / $num-cols);
    
    .xl-#{$i} {
      width: $width;
    }
    
    .xl-offset-#{$i} {
      margin-left: $width;
    }
    
    .xl-pull-#{$i} {
      right: $width;
    }
    
    .xl-push-#{$i} {
      left: $width;
    }
  }
  
  .xl-offset-0 {
    margin-left: 0;
  }
}